@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 161 206 164;
  --primary-foreground: 23 23 23;
  --secondary: 134 241 143;
  --secondary-foreground: 23 23 23;
  --destructive: 244 159 159;
  --destructive-foreground: 0 0 0;
  --tertiary: 219 255 222;
  --tertiary-foreground: 23 23 23;
}
